* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

section.home .welcome:after, .cards .card:after, .card.vendor:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'DejaVu';
  src: url("../fonts/DejaVuSerif.woff") format("woff"); }

@font-face {
  font-family: 'DejaVu';
  src: url("../fonts/DejaVuSerif-Bold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen.woff") format("woff"); }

@font-face {
  font-family: 'Sen';
  src: url("../fonts/Sen-Bold.woff") format("woff");
  font-weight: 600; }

* {
  box-sizing: border-box; }

html {
  font-size: 18px; }

img {
  max-width: 100%;
  height: auto; }

svg * {
  fill: currentColor; }

a {
  cursor: pointer;
  color: #17680f; }

b, strong {
  font-weight: 600; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 105%; }

ul {
  padding-left: 1.5em; }
  ul li {
    list-style-type: disc; }

[v-cloak] {
  display: none; }

@media (min-width: 768px) {
  .mobile-only {
    display: none; } }

@media (max-width: 767px) {
  .desktop-only {
    display: none; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

header {
  z-index: 5;
  background: rgba(73, 73, 73, 0.44);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 38px;
  overflow: hidden; }
  header .inside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: strech;
    -ms-flex-align: strech;
    align-items: strech;
    padding-left: 24px;
    padding-right: 24px; }
  header .logo.wigc {
    width: 82px;
    flex-basis: 82px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: auto;
    padding-top: 12px; }
  header .current-screen {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto; }
  header .logo.cniga {
    width: 100px;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: auto;
    padding-top: 14px; }
    header .logo.cniga .sun {
      display: block;
      width: 38px;
      height: 38px;
      float: left;
      transform: translateY(-150%);
      transition: transform 0.65s ease; }
      header .logo.cniga .sun * {
        transform-origin: center; }
      header .logo.cniga .sun .blue {
        fill: #F86C4F; }
      header .logo.cniga .sun .red {
        fill: #eee; }
      header .logo.cniga .sun.loaded {
        transform: translateY(0);
        transition-delay: 2s; }
        header .logo.cniga .sun.loaded * {
          animation: spin 4.9s ease;
          animation-iteration-count: 1; }
    header .logo.cniga .letters {
      display: block;
      width: 58px;
      float: left;
      padding-top: 4px;
      padding-left: 8px; }
      header .logo.cniga .letters * {
        fill: #eee; }
  header .current-screen {
    padding-top: 10px; }
    header .current-screen span {
      font-size: 1.25em;
      font-family: "DejaVu", "Papyrus", serif;
      color: #2a2a2a; }

aside.sidebar {
  position: fixed;
  top: 38px;
  bottom: 42px;
  left: 0;
  z-index: 3;
  min-width: 75%;
  background: #F86C4F;
  /* mix-blend-mode: color-burn; */
  transform: translateX(-102%);
  transition: transform 0.5s ease; }
  aside.sidebar nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: strech;
    -ms-flex-align: strech;
    align-items: strech;
    height: 100%;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    position: relative; }
  aside.sidebar a {
    font-size: 7vw;
    color: #eee;
    font-family: "DejaVu", "Papyrus", serif;
    mix-blend-mode: normal; }
  aside.sidebar.visible {
    transform: translate(0); }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(73, 73, 73, 0.77);
  z-index: 4;
  padding-left: 10px;
  padding-right: 10px;
  height: 42px;
  padding-top: 10px;
  padding-left: 70px;
  /*
  .sun { width:30px; display: block; float: right; @include position(absolute,0,5px,0); padding-top: 6px;
    * { transform-origin: center; }
    .red { fill:#ffeecd; }
    .blue { fill:#f26c51; }
    
    transform: translateY(100%); transition:transform 0.65s ease;
    &.loaded { transform: translateY(0); transition-delay: 2s;
      * { animation: spin 4.5s ease; animation-iteration-count:1; }
    }
  }
  
  
  .wigc { width: 56px; color:#FEECCE; @include position(absolute,0,40px,0); padding-top: 12px;
    
  }
  */ }
  footer .toggle-sidebar {
    background-color: #F86C4F;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #494949;
    width: 50px;
    padding: 5px 10px 0 10px;
    color: #eee;
    transform: translateX(-102%);
    transition: transform 0.5s ease; }
    footer .toggle-sidebar.visible {
      transform: translateX(0); }
  footer nav a {
    color: #eee;
    font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
    text-transform: uppercase;
    margin-right: 1em;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600; }

section.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease;
  transform: translate(0);
  transition: all 3s ease;
  transition-delay: 1s; }
  section.loading.visible {
    transform: translateY(0); }
  section.loading .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  section.loading .sun {
    width: 92px;
    height: 92px;
    animation: spin 3s linear infinite; }
  section.loading.loaded {
    transform: translateY(-100vh); }

video {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: fill;
  z-index: 1;
  opacity: 0.65; }

section.home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease;
  transition: all 2s ease; }
  section.home.visible {
    transform: translateY(0); }
  section.home.visible {
    transition-delay: 2s; }
  section.home .welcome {
    margin: 0 24px 24px 24px;
    padding: 24px;
    background-color: #e8e8e8;
    box-shadow: 0 0 3px rgba(73, 73, 73, 0.3);
    font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
    position: relative;
    color: #494949;
    transition: margin 0.5s linear, padding 0.5s linear,border-radius 0.5s linear;
    background-color: transparent;
    box-shadow: none;
    color: #eee;
    text-shadow: 1px 1px 0 #494949, -1px -1px 0 #494949;
    font-size: 130%; }
    section.home .welcome a {
      color: #F86C4F; }
    section.home .welcome .title {
      font-family: "DejaVu", "Papyrus", serif;
      margin-bottom: 0.25em;
      padding-right: 42px;
      font-size: 115%; }
    section.home .welcome a.favorite {
      color: #494949;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 24px;
      right: 24px; }
      section.home .welcome a.favorite .fill {
        opacity: 0; }
      section.home .welcome a.favorite:hover {
        color: #F86C4F; }
      section.home .welcome a.favorite.active .fill {
        opacity: 1; }
    section.home .welcome a.meetoo {
      color: #4885ed;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 60px;
      right: 24px; }
      section.home .welcome a.meetoo .filled {
        opacity: 0; }
      section.home .welcome a.meetoo:hover .filled {
        opacity: 1; }
      section.home .welcome a.meetoo:hover .outlined {
        opacity: 0; }
    section.home .welcome .icon-link {
      margin-right: 0.5em;
      color: #F86C4F; }
      section.home .welcome .icon-link .icon {
        width: 1.2em;
        height: 1.2em; }
    section.home .welcome.full {
      margin: 0 0 48px 0;
      border-radius: 0; }
      section.home .welcome.full .title {
        font-size: 140%; }
    section.home .welcome.disabled {
      opacity: 0.4;
      transition: all 0.5s ease; }
    section.home .welcome .tags {
      padding-left: 0;
      margin-bottom: 0.5em; }
      section.home .welcome .tags li {
        background-color: #494949;
        color: #eee;
        display: inline-block;
        margin-right: 0.5em;
        padding: 0.1em 0.65em;
        font-size: 80%; }
    section.home .welcome:last-child {
      margin-bottom: 60px; }
  section.home h1 {
    margin-bottom: 0.5em; }

section.error {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease; }
  section.error.visible {
    transform: translateY(0); }

/*
.home-wrapper { background: $white;
  .inner { }
}
*/
.cards {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease; }
  .cards.visible {
    transform: translateY(0); }
  .cards .card {
    margin: 0 24px 24px 24px;
    padding: 24px;
    background-color: #e8e8e8;
    box-shadow: 0 0 3px rgba(73, 73, 73, 0.3);
    font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
    position: relative;
    color: #494949;
    transition: margin 0.5s linear, padding 0.5s linear,border-radius 0.5s linear;
    border-radius: 6px; }
    .cards .card a {
      color: #F86C4F; }
    .cards .card .title {
      font-family: "DejaVu", "Papyrus", serif;
      margin-bottom: 0.25em;
      padding-right: 42px;
      font-size: 115%; }
    .cards .card a.favorite {
      color: #494949;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 24px;
      right: 24px; }
      .cards .card a.favorite .fill {
        opacity: 0; }
      .cards .card a.favorite:hover {
        color: #F86C4F; }
      .cards .card a.favorite.active .fill {
        opacity: 1; }
    .cards .card a.meetoo {
      color: #4885ed;
      width: 26px;
      height: 26px;
      position: absolute;
      top: 60px;
      right: 24px; }
      .cards .card a.meetoo .filled {
        opacity: 0; }
      .cards .card a.meetoo:hover .filled {
        opacity: 1; }
      .cards .card a.meetoo:hover .outlined {
        opacity: 0; }
    .cards .card .icon-link {
      margin-right: 0.5em;
      color: #F86C4F; }
      .cards .card .icon-link .icon {
        width: 1.2em;
        height: 1.2em; }
    .cards .card.full {
      margin: 0 0 48px 0;
      border-radius: 0; }
      .cards .card.full .title {
        font-size: 140%; }
    .cards .card.disabled {
      opacity: 0.4;
      transition: all 0.5s ease; }
    .cards .card .tags {
      padding-left: 0;
      margin-bottom: 0.5em; }
      .cards .card .tags li {
        background-color: #494949;
        color: #eee;
        display: inline-block;
        margin-right: 0.5em;
        padding: 0.1em 0.65em;
        font-size: 80%; }
    .cards .card:last-child {
      margin-bottom: 60px; }
  .cards .card.alt {
    background-color: #f43a14;
    color: #fff;
    border-radius: 6px; }
    .cards .card.alt a {
      color: yellow; }

figure.pic {
  width: 92px;
  max-height: 92px;
  display: block;
  float: left;
  margin-left: -24px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden; }
  figure.pic.full {
    float: none;
    width: 100%;
    max-height: none;
    text-align: center;
    border-radius: 0; }

.card.session a {
  color: #F86C4F; }

.card.session .when-and-where {
  margin-bottom: 0.5em; }

.card.session time {
  text-transform: uppercase; }
  .card.session time span {
    display: block; }
  .card.session time .duration {
    font-size: 80%; }

.card.session .desc {
  margin-bottom: 0.5em; }

.card.session .people {
  padding-left: 0;
  font-size: 85%; }
  .card.session .people ul {
    padding-left: 0; }
  .card.session .people .presented-by {
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .card.session .people figure {
    margin-top: 10px; }
  .card.session .people li {
    margin-bottom: 0.25em;
    list-style: none; }

.card.vendor {
  padding-bottom: 0; }
  .card.vendor p {
    margin-bottom: 1em; }
  .card.vendor .vendor-contacts {
    margin-bottom: 0.65em;
    font-size: 1.25em; }
  .card.vendor .people .name {
    font-weight: 600; }

.vendor-people {
  padding-left: 0;
  float: none; }
  .vendor-people li {
    display: block;
    list-style: none;
    margin-bottom: 1em; }
  .vendor-people h4 {
    font-size: 1em;
    font-weight: 400; }
    .vendor-people h4 .name {
      font-weight: 600; }
  .vendor-people li.full {
    border-bottom: 1px solid #494949; }
    .vendor-people li.full h4 {
      font-size: 1.25em;
      margin-bottom: 0.5em; }

.vendor-toggle {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: strech;
  -ms-flex-align: strech;
  align-items: strech; }
  .vendor-toggle a {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    background-color: #F86C4F;
    color: #eee;
    font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    text-transform: uppercase; }
    .vendor-toggle a.active {
      background-color: #f6431e; }

.card.person .company {
  font-weight: 600; }

.my-sessions, .my-vendors {
  font-family: "Sen", "Comic Sans MS", "Comic Sans", cursive;
  margin: 0 10px 10px 10px; }

.map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease;
  padding: 0; }
  .map.visible {
    transform: translateY(0); }
  .map .pinch-zoom-container {
    overflow: hidden;
    height: calc(100vh - 78px);
    background: white; }
  .map .pinch-zoom-image {
    width: 100%;
    max-width: none; }

section.meetoo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 62px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  transform: translateY(-120%);
  transition: transform 1s ease;
  padding: 10px; }
  section.meetoo.visible {
    transform: translateY(0); }
  section.meetoo iframe {
    height: calc(100vh - 96px); }

[v-cloak] {
  display: none !important; }

body {
  background: #feecce; }

/*# sourceMappingURL=wigc.css.map */