.javascripts
  if testing
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="js/vendor/vue.js")
    script(src="http://hammerjs.github.io/dist/hammer.min.js")
  else 
    script(src="cordova.js")
    script(src="js/vendor/jquery-3.2.1.min.js")
    script(src="js/vendor/vue.min.js")
    script(src="js/vendor/hammer.min.js")
  script(src="js/wigc.js")
  script(src="js/pinch-zoom.js")