aside.sidebar(v-bind:class="{visible: my.sidebarVisible}" v-cloak)
  nav
    a(v-on:click="switchSection('My WIGC')") My WIGC
    a(v-on:click="switchSection('Seminars')") Seminars
    a(v-on:click="switchSection('Parties')") Parties
    a(v-on:click="switchSection('Vendors')") Vendors
    a(v-on:click="switchSection('People')") People
    a(v-on:click="switchSection('Sponsors')") Sponsors
    