aside.sidebar(v-bind:class="{visible: my.sidebarVisible}" v-cloak)
  nav
    a(v-on:click="switchSection('my-wigc')") My WIGC
    a(v-on:click="switchSection('sessions')") Seminars
    a(v-on:click="switchSection('parties')") Parties
    a(v-on:click="switchSection('vendors')") Vendors
    a(v-on:click="switchSection('people')") People