aside.sidebar(v-bind:class="{visible: my.sidebarVisible}" v-cloak)
  nav
    a(v-on:click="switchSection('My WIGC')") My WIGC
    a(v-on:click="switchSection('Schedule')") Schedule
    a(v-on:click="switchSection('Seminars')") Seminars
    a(v-on:click="switchSection('Networking Events')") Networking Events
    a(v-on:click="switchSection('Exhibitors')") Exhibitors
    a(v-on:click="switchSection('People')") People
    a(v-on:click="switchSection('Sponsors')") Sponsors
    // a(v-on:click="switchSection('social')") Social Media