
<section class="vendors" v-cloak="v-cloak" v-bind:class="{ visible: my.view == 'people' }">
  <article class="people" v-for="person in people">
    <figure class="logo" v-if="person.pic"><img :src="person.pic"/></figure>
    <h3 class="name">{{person.name}}</h3>
    <div class="job" v-if="person.job_title &amp;&amp; person.company">{{person.job_title}},  {{person.company}}</div>
    <div class="job" v-else-if="person.job_title">{{person.job_title}}</div>
    <div class="job" v-else-if="person.company">{{person.company}}</div>
    <div class="desc fulltext" v-if="person.text" v-html="person.text"></div>
    <div class="contacts" v-if="vendor.fullinfo"><a class="icon-link" :href="person.website" v-if="person.website">WEBSITE</a><a class="icon-link" :href="'mailto:' + person.email" v-if="person.email">EMAIL</a><a class="icon-link" :href="person.linkedin" v-if="person.linkedin">LINKED IN</a><a class="icon-link" :href="person.twitter" v-if="person.twitter">LINKED IN</a></div>
  </article>
</section>