<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wigc.wigc" android:versionName="1.1" android:versionCode="1">
    <supports-screens
    	android:largeScreens="true"
    	android:normalScreens="true"
    	android:smallScreens="true"
    	android:resizeable="true"
    	android:anyDensity="true"
    	/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest> 