<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wigc.wigc" version="0.0.1" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WIGC</name>
    <description>
      Currently, a proof of concept.
  </description>
    <author email="dev@redcircleagency.com" href="https://www.redcircleagency.com">
      Red Circle Agency
  </author>
  <platform name="ios">
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="res/ios/app-icons-iOS_a_180.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="res/ios/app-icons-iOS_a_76.png" width="60" height="60" />
      <icon src="res/ios/app-icons-iOS_a_120.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="res/ios/app-icons-iOS_a_76.png" width="76" height="76" />
      <icon src="res/ios/app-icons-iOS_a_152.png" width="152" height="152" />
      <!-- Spotlight Icon -->
      <icon src="res/ios/app-icons-iOS_a_40.png" width="40" height="40" />
      <icon src="res/ios/app-icons-iOS_a_80.png" width="80" height="80" />
      <!-- iOS 6.1 -->
      <!-- iPhone / iPod Touch -->
      <icon src="res/ios/app-icons-iOS_a_58.png" width="57" height="57" />
      <icon src="res/ios/app-icons-iOS_a_120.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="res/ios/app-icons-iOS_a_76.png" width="72" height="72" />
      <icon src="res/ios/app-icons-iOS_a_152.png" width="144" height="144" />
      <!-- iPad Pro -->
      <icon src="res/ios/app-icons-iOS_a_167.png" width="167" height="167" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="res/ios/app-icons-iOS_a_29.png" width="29" height="29" />
      <icon src="res/ios/app-icons-iOS_a_58.png" width="58" height="58" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="res/ios/app-icons-iOS_a_58.png" width="50" height="50" />
      <icon src="res/ios/app-icons-iOS_a_120.png" width="100" height="100" />
      <!-- iPad Pro -->
      <icon src="res/ios/app-icons-iOS_a_167.png" width="167" height="167" />
    </platform>
    <platform name="android">
      <!--
          ldpi    : 36x36 px
          mdpi    : 48x48 px
          hdpi    : 72x72 px
          xhdpi   : 96x96 px
          xxhdpi  : 144x144 px
          xxxhdpi : 192x192 px
      -->
      <icon src="res/android/app-icons-android_a36.png" density="ldpi" />
      <icon src="res/android/app-icons-android_a48.png" density="mdpi" />
      <icon src="res/android/app-icons-android_a72.png" density="hdpi" />
      <icon src="res/android/app-icons-android_a96.png" density="xhdpi" />
      <icon src="res/android/app-icons-android_a144.png" density="xxhdpi" />
      <icon src="res/android/app-icons-android_a192.png" density="xxxhdpi" />
    </platform>
    <preference name="android-minSdkVersion" value="20" />
    <platform name="winphone" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <engine name="ios" spec="^4.4.0" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="onesignal-cordova-plugin" spec="^2.2.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
</widget>
