figure.pic {
  width: 92px;
  max-height: 92px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  figure.pic.full {
    float: none;
    width: 100%;
    max-height: none;
    text-align: center; }
