.cards { @include cards();
  .card { @include card(); border-radius: $radius;
    .close-button{ display: inline-block; position: absolute; text-align: right; right: $padding; top: $padding;
      svg{ width: 1.5em;
        .close-x { stroke: $black; fill: transparent; stroke-linecap: round; stroke-width: 5; }
      }
    }
   }
  .card.alt { background-color:darken(#f76b4f,12%); color:#fff; border-radius: $radius;
    a { color:yellow; &.button{color: $white; } }
    .card-footer{
      justify-content: space-around;
      @include flex-container();
      .button{
        margin: 1.5em;
      }
    }
  }
}


.cards {
  .input-holder { width:100%; padding-left: 24px; padding-right: 24px; padding-bottom: 24px;
    input { display: block; width:100%; background-color:transparent; border:none; font-family: $sans; font-size:20px; outline: none; border-bottom: 2px solid transparent; color:$white;
      &::placeholder { color:rgba($white,0.65); }
      &:focus { border-color:$white; }
    }
  }
}

/*
.card {
  .category { color:$orange; text-transform: uppercase; font-size:1rem; border-bottom:1px solid currentColor; padding-bottom: 0.2em; margin-bottom: 1rem;  margin-top:-0.5em; }
}
*/

figure.pic { width:92px; max-height: 92px; display: block; float: left; margin-left: -$padding; margin-right: 10px; margin-bottom: 10px; transition: all 0.3s ease; border-top-right-radius: $radius;  border-bottom-right-radius: $radius; overflow:hidden;
  &.full { float: none; width:100%; max-height: none; text-align: center; border-radius:0; }
}
