.sessions { @include cards(); }
.session { @include card();
  a { color:$orange; }
  .when-and-where { margin-bottom: 0.5em; }
  time { font-weight: $bold; }
  .desc { margin-bottom: 0.5em; }
  .speakers { padding-left: 0;
    li { list-style: none; margin-bottom: 0.5em; }
  }
}


figure.pic { width:92px; max-height: 92px; display: block; float: left; margin-right: 10px; margin-bottom: 10px; transition: all 0.3s ease;
  &.full { float: none; width:100%; max-height: none; text-align: center; }
}