.twitter-wrapper, .instagram-wrapper{
  @include cards();
  top: 50px;
  //Only using this for demoing with temporary toggle. Will probably have to change
  padding-top: 0;
  margin-top: 62px;
  //---------------------------------------------------------------------------------
  .social-links{
    @include flex-container();
    justify-content: space-around;
    a{
      @include flex-item(50%, 0,1);
      text-align: center;
    }
  }
}
