.social-wrapper{
  &.twitter{
    padding: $padding;
  }
}

.twitter-user{
  display: inline-block;
  font-size: 0.75rem;
  padding-left: 3rem;
}

.tweet-text{
  padding-left: 3rem;
}

.twitter-avatar-link{
  position: absolute;

}

.twitter-user--avatar{
  border-radius: 50%;
}
