.twitter-wrapper, .instagram-wrapper{
  @include cards();
  height: 100%;
  top: 50px;
  .instagram-post{
    @include card();
    padding: 1em;
    margin: 1em;
  }
}

.SandboxRoot{
  body{
    background-color: transparent;
  }
}

.timeline-TweetList{
  @include cards();
  padding-top: 0;
  transform: translateY(0);
  .timeline-TweetList-tweet{
    @include card();
  }
}

.timeline-LoadMore--edge{
  display: none;
}
