$black: #494949;
$orange:  #F86C4F;
$sans: 'Sen',  "Comic Sans MS", "Comic Sans", cursive;
$serif: 'DejaVu', 'Papyrus', serif;

$header-height:38px;
$footer-height:42px;

$padding: 24px;
$variables: 8px;