section.cards.exhibitors(v-cloak v-bind:class="{ visible: my.view == 'Info' }")
  article.card(v-for="card in exhibitorInfo.cards")
    h3.title {{card.title}}
    summary.desc
    .desc.fulltext(v-html="card.text")
