section.home.cards(v-cloak v-bind:class="{ visible: my.view == 'Home' }")
  article.card(v-html="home.text")
section.error.visible(v-cloak v-if="my.view == 'error'")
  .readout
    .inner(v-html="error_msg")