section.map(v-cloak v-bind:class="{ visible: my.view == 'map' }")
  .map-wrapper
    //button(onclick="zoomIn()") Zoom In
    .pinch-zoom-container
      //img.panzoom#pinch-zoom-image-id(src="img/sample-map.jpg" class="pinch-zoom-image" onload="onLoad()")
      img.pinch-zoom-image#pinch-zoom-image-id(src="img/wigc-floorplan.jpg")