section.cards.parties(v-cloak v-bind:class="{ visible: my.view == 'Networking Events' }")
  article.card.session(v-for="session in sessions" v-if="session.type == 'parties' && !session.headerText" :class="{full: session.fullinfo }" :id="session.slug")
    h3.title 
      a(v-if="session.text && session.text != session.teaser" v-on:click="session.fullinfo = !session.fullinfo") {{session.title}}
      span(v-else) {{session.title}}
      a.favorite(v-on:click="toggleFavorite(my.sessions, session);" :class="{active: session.favorite}")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path.fill(d="M49.8 1.6L64.6 33l33 5.1-23.9 24.4 5.7 34.6-29.6-16.3-29.5 16.3 5.6-34.6L2 38.1 35 33z")
          path.outline(d="M49.8 13.3L60 35.1l1.1 2.4 2.6.4 23.4 3.6-17 17.6-1.8 1.8.4 2.5 4 24.4-20.5-11.4-2.4-1.3-2.4 1.3-20.5 11.4 4-24.4.4-2.5-1.8-1.8-17.1-17.6L35.8 38l2.6-.4 1.1-2.4 10.3-21.9m0-11.7L35 33 2 38l23.9 24.5-5.6 34.6 29.5-16.3 29.5 16.3-5.6-34.6L97.6 38l-33-5L49.8 1.6z")
      a.meetoo(v-if="session.meetoo" v-on:click="showMeetoo(session.meetoo)")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path.outlined(d="M50 5.438c-25.4 0-46.4 16.9-46.4 38.2 0 11.8 6.9 21.5 16.8 28.3l-8 19c-.5 1.1 0 2.4 1.1 2.8.6.3 1.3.2 1.9-.1l23.2-12.7c3.5.6 8.1.9 11.4.9 25.4 0 46.4-16.9 46.4-38.3 0-21.2-21-38.1-46.4-38.1zm0 4.3c23.5 0 42.1 15.4 42.1 33.9s-18.6 34-42.1 34c-3.3 0-8.5-.3-11.5-.9-.5-.1-1 0-1.5.2l-18.3 10 6.2-14.8c.4-1 0-2.1-.8-2.6-9.9-6.3-16.3-15.1-16.3-25.8 0-18.6 18.7-34 42.2-34zm-23.8 27c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-2.9-6.5-6.5-6.5zm23.8 0c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-3-6.5-6.5-6.5zm23.7 0c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-2.9-6.5-6.5-6.5zm-47.5 4.4c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2c-1.2 0-2.2-.9-2.2-2.2s1-2.2 2.2-2.2zm23.8 0c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2-2.2-.9-2.2-2.2.9-2.2 2.2-2.2zm23.7 0c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2-2.2-.9-2.2-2.2 1-2.2 2.2-2.2z")
          path.filled(d="M50 4C23.3 4 1.6 21.6 1.6 43.4c0 12.6 7.6 22.9 18.9 30.2L11.1 96l26-14.2c3.5.7 9.2 1 13 1 26.7 0 48.4-17.6 48.4-39.4C98.4 21.6 76.7 4 50 4zM24 34.7c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3s-8.3-3.7-8.3-8.3c.1-4.6 3.8-8.3 8.3-8.3zm26 0c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3s-8.3-3.7-8.3-8.3c0-4.6 3.7-8.3 8.3-8.3zm26 0c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3-4.6 0-8.3-3.7-8.3-8.3 0-4.6 3.7-8.3 8.3-8.3z")
    .when-and-where
      time.when
        span {{session.date}} @ {{session.time}}
        span(v-if="session.duration")
          |   ({{session.duration}})
      .room(v-if="session.room")
        strong Room:
        |  
        span(v-text="session.location")
    .location(v-if="session.location")
        strong Location:
        |  
        span(v-text="session.location")
    
    summary.desc(v-if="session.teaser && !session.fullinfo" v-html="session.teaser")
    .desc.fulltext(v-if="session.text && session.fullinfo" v-html="session.text")
    ul.speakers(v-if="session.speakers")
      li(v-for="speaker in session.speakers")
        b.role(v-if="speaker.role && session.fullinfo") {{speaker.role}}: 

        span.name(v-if="!session.fullinfo") {{speaker.name}}, {{speaker.company}}
        span.name(v-else) {{speaker.name}}
        .and(v-if="session.fullinfo")
          .job(v-if="speaker.job_title && speaker.company") {{speaker.job_title}}, {{speaker.company}}
          .job(v-else-if="speaker.job_title") {{speaker.job_title}}
          .job(v-else-if="speaker.company") {{speaker.company}}
          .desc(v-if="speaker.text && session.fullinfo" v-html="speaker.text")
