section.cards.sessions(v-cloak v-bind:class="{ visible: my.view == 'Seminars' }")
  nav.session-filters
    a.show-filters(v-on:click="showFilters = !showFilters" v-bind:class="{active: showFilters}") Filter Session Tracks
    .filter-menu(v-bind:class="{visible: showFilters}")
      label.session-filter(v-for="track in seminarTracks" ) 
        input(type="checkbox"  v-bind:name="track" v-bind:value="track" v-model="selectedTracks") 
        | {{track}}
      .set-filters 
        a.apply-filters(v-on:click="showFilters = false") Apply Filters
        a.clear-filters(v-on:click="selectedTracks = []") Clear Filters
  article.card.session(v-for="session in seminars" :class="{full: session.fullinfo }" :id="session.slug")
    .track(v-if="session.track")
      span {{session.track}}
    h3.title
      a(v-if="session.text && session.text != session.teaser" v-on:click="session.fullinfo = !session.fullinfo") {{session.title}}
      span(v-else) {{session.title}}
      a.favorite(v-on:click="toggleFavorite(my.sessions, session);" :class="{active: session.favorite}")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path.fill(d="M49.8 1.6L64.6 33l33 5.1-23.9 24.4 5.7 34.6-29.6-16.3-29.5 16.3 5.6-34.6L2 38.1 35 33z")
          path.outline(d="M49.8 13.3L60 35.1l1.1 2.4 2.6.4 23.4 3.6-17 17.6-1.8 1.8.4 2.5 4 24.4-20.5-11.4-2.4-1.3-2.4 1.3-20.5 11.4 4-24.4.4-2.5-1.8-1.8-17.1-17.6L35.8 38l2.6-.4 1.1-2.4 10.3-21.9m0-11.7L35 33 2 38l23.9 24.5-5.6 34.6 29.5-16.3 29.5 16.3-5.6-34.6L97.6 38l-33-5L49.8 1.6z")
      a.meetoo(v-if="session.meetoo" v-on:click="showMeetoo(session.meetoo)")
        svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path.outlined(d="M50 5.438c-25.4 0-46.4 16.9-46.4 38.2 0 11.8 6.9 21.5 16.8 28.3l-8 19c-.5 1.1 0 2.4 1.1 2.8.6.3 1.3.2 1.9-.1l23.2-12.7c3.5.6 8.1.9 11.4.9 25.4 0 46.4-16.9 46.4-38.3 0-21.2-21-38.1-46.4-38.1zm0 4.3c23.5 0 42.1 15.4 42.1 33.9s-18.6 34-42.1 34c-3.3 0-8.5-.3-11.5-.9-.5-.1-1 0-1.5.2l-18.3 10 6.2-14.8c.4-1 0-2.1-.8-2.6-9.9-6.3-16.3-15.1-16.3-25.8 0-18.6 18.7-34 42.2-34zm-23.8 27c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-2.9-6.5-6.5-6.5zm23.8 0c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-3-6.5-6.5-6.5zm23.7 0c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5 6.5-2.9 6.5-6.5-2.9-6.5-6.5-6.5zm-47.5 4.4c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2c-1.2 0-2.2-.9-2.2-2.2s1-2.2 2.2-2.2zm23.8 0c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2-2.2-.9-2.2-2.2.9-2.2 2.2-2.2zm23.7 0c1.2 0 2.2.9 2.2 2.2s-.9 2.2-2.2 2.2-2.2-.9-2.2-2.2 1-2.2 2.2-2.2z")
          path.filled(d="M50 4C23.3 4 1.6 21.6 1.6 43.4c0 12.6 7.6 22.9 18.9 30.2L11.1 96l26-14.2c3.5.7 9.2 1 13 1 26.7 0 48.4-17.6 48.4-39.4C98.4 21.6 76.7 4 50 4zM24 34.7c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3s-8.3-3.7-8.3-8.3c.1-4.6 3.8-8.3 8.3-8.3zm26 0c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3s-8.3-3.7-8.3-8.3c0-4.6 3.7-8.3 8.3-8.3zm26 0c4.6 0 8.3 3.7 8.3 8.3 0 4.6-3.7 8.3-8.3 8.3-4.6 0-8.3-3.7-8.3-8.3 0-4.6 3.7-8.3 8.3-8.3z")
    .when-and-where
      time.when
        span.datetime {{session.date}} - {{session.time}}
        span.duration(v-if="session.duration")
          | {{session.duration}}
      .where.room(v-if="session.room") {{session.room}}
    .desc(v-if="session.teaser && !session.fullinfo" v-html="session.teaser")
    .desc.fulltext(v-if="session.text && session.fullinfo" v-html="session.text")
    .people(v-if="session.people")
      .presented-by Presented by:
      ul.speakers
        li.person(v-for="person in session.people" v-bind:class="{ full: person.fullinfo }")
          .role-and-name
            b.role(v-if="person.role") {{person.role}}:
            a.name(v-if="person.url" v-on:click="person.fullinfo = !person.fullinfo") {{person.name}}
            span.name(v-else) {{person.name}}
          .job-and-company(v-if="person.job_title || person.company")
            span.job(v-if="person.job_title") {{person.job_title}}
            span(v-if="person.job_title && person.company") ,
            span.company(v-if="person.company") {{person.company}}
          figure.pic(v-if="person.fullinfo" v-on:click="person.fullpic = !person.fullpic" v-bind:class="{ full :person.fullpic }")
            img(:src="person.pic")
          summary.desc(v-show="person.fullinfo" v-html="person.text")
          .person-contacts.contacts(v-show="person.fullinfo")
            a.icon-link(:href="'mailto:' + person.email" v-if="person.email")
              svg.icon(xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8")
                path(d="M4 0l-4 2v6h8v-6l-4-2zm0 1.13l3 1.5v1.88l-3 1.5-3-1.5v-1.88l3-1.5zm-2 1.88v1l2 1 2-1v-1h-4z")
            a.icon-link(:href="person.linkedin" v-if="person.linkedin")
              svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8")
                path(d="M7.4 0H.6C.3 0 0 .3 0 .6v6.8c0 .3.3.6.6.6h6.8c.3 0 .6-.3.6-.6V.6c0-.3-.3-.6-.6-.6zm-5 6.8H1.2V3h1.2v3.8zm-.6-4.3c-.4 0-.7-.3-.7-.7 0-.4.3-.7.7-.7.4 0 .7.3.7.7 0 .4-.3.7-.7.7zm5 4.3H5.6V5c0-.4 0-1-.6-1s-.7.5-.7 1v1.9H3.1V3h1.1v.5c.2-.3.5-.6 1.1-.6 1.2 0 1.4.8 1.4 1.8v2.1z")
            a.icon-link(:href="person.linkedin" v-if="person.linkedin")
              svg.icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8")
                path(d="M7.9 1.5c-.3.1-.6.2-.9.2.3-.2.6-.5.7-.9-.3.2-.6.4-1 .4C6.4.9 6 .7 5.5.7c-.9 0-1.6.7-1.6 1.6v.4C2.6 2.6 1.4 2 .6 1c-.2.3-.2.5-.2.8 0 .6.3 1.1.7 1.3-.3.1-.5 0-.7-.1 0 .8.6 1.4 1.3 1.6-.1 0-.3.1-.4.1H1c.2.6.8 1.1 1.5 1.1-.6.4-1.3.7-2 .7H.1c.7.5 1.6.7 2.5.7 3 0 4.6-2.5 4.6-4.6v-.3c.2-.2.5-.5.7-.8z")
    ul.tags(v-if="session.tags")
      li(v-for="tag in session.tags") {{tag}}
