section.cards.social(v-cloak v-bind:class="{ visible: my.view == 'social' }")
  nav.vendor-toggle
    a(v-on:click="showTwitter = true") Twitter
    a(v-on:click="showTwitter = false") Instagram
  .twitter-wrapper(v-bind:class="{visible: showTwitter}")
    a.twitter-timeline(data-chrome="noheader nofooter noborders transparent" data-width="1280" data-tweet-limit="5" data-dnt="true" href="https://twitter.com/hashtag/WIGC2018" data-widget-id="923205064826740738")
      script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  .instagram-wrapper(v-bind:class="{visible: !showTwitter}")
    article.instagram-post(v-for="instagramPost in instagramLatest")
      img(v-cloak :src="instagramPost.display_src")
      p.caption(v-html="instagramPost.caption")
