section.cards.sponsors(v-cloak v-bind:class="{ visible: my.view == 'Sponsors' }")
  article.card.sponsor(v-for="sponsor in sponsors")
    .level(v-if="sponsor.level")
      span {{sponsor.level}}
    h3.title {{sponsor.name}}
    .sponsored(v-if="sponsor.sponsored")
      b Sponsored: 
      span {{sponsor.sponsored}}
    figure.pic(v-if="sponsor.logo" v-on:click="sponsor.fullpic = !sponsor.fullpic" v-bind:class="{full: sponsor.fullpic}")
      img(:src="sponsor.logo")
    summary.desc(v-if="sponsor.teaser && !sponsor.fullinfo" v-html="sponsor.teaser")
    