doctype html
html(lang="en")
  head
    title Test App
    link(href=" pug/css/wigc.css" rel="stylesheet")
  body
    main#app--list

      section.sessions(v-cloak)
        h2
          img(src="https://cniga.com/wp-content/themes/cniga/dist/images/0301_CNIGA_Identity_Logo_R6-Final_RGB_Logo_Hor-Short_Reversed.svg")
          span Sessions
        article.session(v-for="session in sessions")
          h3.session-title {{session.title}}
            span.star
          time {{session.date}} @ {{session.time}}
          .room {{session.room}}
          .speakers(v-if="session.speakers.length > 0")
            b Speakers: &nbsp;
            span.speaker(v-for="speaker in session.speakers")
              span {{speaker.name}} - {{speaker.company}}
          summary.short-description(v-html="session.desc")
          div.long-description(v-html="session.longdesc")
          div.show-more +

    footer
      script(src="https://code.jquery.com/jquery-3.1.1.min.js")
      script(src="https://unpkg.com/vue")
      script.
        var app = new Vue({
          el: '#app--list',
          data: {
            sessions: [],
            vendors: [],
            message: 'Hello Vue!',
            error_msg: false
          },
          mounted: function () {
            var self = this;

            // Grab Sessions
            $.ajax({
                url: 'http://localhost:8888/wigc/sessions',
                method: 'GET',
                success: function (data) {
                  self.sessions = data;
                },
                error: function (error) {
                  alert(JSON.stringify(error));
                  //self.error_msg = error
                }
            });
          }
        });
